.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
mat-form-field {
  width: 100%;
}
mat-hint {
  margin: 5px;
}
.action-btns {
  float: right;
  margin-right: 10px;
}
.action-btns button {
  padding: 20px;
}
.myform-wrapper {
  margin: 50px;
  width: 350px;
}
.mat-form-field {
  width: 100%;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

.action-container {
  display: flex;
  align-items: center;
}
